In [2]:
# !pip install pysqlite3

In [2]:
import sqlite3
import pandas as pd

In [3]:
data = pd.read_csv('엘리스 도서관 책 정보 리스트.csv', header=0)
data.head(1)

,Unnamed: 0,book_name,publisher,author,publication_date,pages,isbn,description,link
0,1,주니어를 위한 최선의 코딩 학습 똑똑한 파이썬,코딩스쿨(인포앤북),황재호/황예린,2019-07-01,240,9.790000e+12,"주니어의 코딩 학습을 위한 최상의 파이썬 학습서\n초등학교에서 스크래치, 엔트리 등...",http://codingschool.info/book/index.php?book=s...

In [7]:
for i in data['description'][0].split('\n'):
    print(i)

주니어의 코딩 학습을 위한 최상의 파이썬 학습서
초등학교에서 스크래치, 엔트리 등의 블록코딩으로 알고리즘의 기초를 배우고 난 후 글자로 된 텍스트 코딩 단계에 들어가면 아이들이 어려워하게 된다. 이 책은 동물 일러스트를 활용하고 쉽고 재미있는 예제들을 많이 수록하여 아이들이 혼자서 재미있게 코딩을 공부할 수 있도록 하였다. 또한 이 책은 파이썬 코딩과 알고리즘에 대한 기초 지식이 없는 초등학교 고학년생과 중학생들을 대상으로 한 코딩 및 알고리즘 수업의 교재로 활용하기 적합하게 집필되었다.

In [6]:
len(data)

32

In [8]:
import os
data['img_path']='temp'
for i in range(1,len(data)+1):
    file = os.path.isfile(f"./static/image/{i}.png")
    if file:
        data["img_path"][i-1] = f"/image/{i}.png"
    else:
        data["img_path"][i-1] = f"/image/{i}.jpg"

<ipython-input-8-f550d12c0f89>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["img_path"][i-1] = f"/image/{i}.png"
<ipython-input-8-f550d12c0f89>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["img_path"][i-1] = f"/image/{i}.jpg"

In [9]:
data.head()

,Unnamed: 0,book_name,publisher,author,publication_date,pages,isbn,description,link,img_path
0,1,주니어를 위한 최선의 코딩 학습 똑똑한 파이썬,코딩스쿨(인포앤북),황재호/황예린,2019-07-01,240,9.790000e+12,"주니어의 코딩 학습을 위한 최상의 파이썬 학습서\n초등학교에서 스크래치, 엔트리 등...",http://codingschool.info/book/index.php?book=s...,/image/1.png
1,2,Do it! C언어 입문,이지스퍼블리싱,김성엽,2017-01-10,576,9.790000e+12,‘왜’ 쓰는지 모르면 의미 없다! 두 번 삽질하지 않게 도와주는 입문서!\n\n실무...,http://www.easyspub.co.kr/20_Menu/BookView/122...,/image/2.png
2,3,Do it! 쉽게 배우는 R 데이터 분석,이지스퍼블리싱,김영우,2017-07-20,376,9.790000e+12,"통계, 프로그래밍을 1도 몰라도 데이터를 혼자서 다룰 수 있다!\n\n데이터 분석 ...",http://www.easyspub.co.kr/20_Menu/BookView/138...,/image/3.png
3,4,Do it! 딥러닝 입문,이지스퍼블리싱,박해선,2019-09-20,328,9.790000e+12,정직하게 코딩하며\n\n딥러닝을 빠르게 정면 돌파하자!\n\n \n\n이 책은 어설...,http://www.easyspub.co.kr/20_Menu/BookView/325...,/image/4.jpg
4,5,Do it! 리액트 프로그래밍 정석,이지스퍼블리싱,박호준,2020-02-07,656,9.790000e+12,실리콘밸리 리액트 클래스를 그대로 담았다!\n에어비앤비 프런트엔드 리드에게 배우는 ...,http://www.easyspub.co.kr/20_Menu/BookView/355...,/image/5.jpg

In [10]:
con = sqlite3.connect('library.db')
cur = con.cursor()

In [11]:
data.head(1)
# data['Unnamed: 0']

,Unnamed: 0,book_name,publisher,author,publication_date,pages,isbn,description,link,img_path
0,1,주니어를 위한 최선의 코딩 학습 똑똑한 파이썬,코딩스쿨(인포앤북),황재호/황예린,2019-07-01,240,9.790000e+12,"주니어의 코딩 학습을 위한 최상의 파이썬 학습서\n초등학교에서 스크래치, 엔트리 등...",http://codingschool.info/book/index.php?book=s...,/image/1.png

In [12]:
for index, row in data.iterrows():
    data1 = (row['Unnamed: 0'], row['book_name'], row['publisher'], row['author'], row['publication_date'], row['pages'], row['isbn'], row['description'], row['link'], 5, 0, row['img_path'])
    # print(data1)
    cur.execute("INSERT INTO Book_info VALUES (?,?,?,?,?,?,?,?,?,?,?,?)",data1)

In [13]:
con.commit()
con.close()

In [1]:
data[0]

NameError: name 'data' is not defined