In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('엘리스 도서관 책 정보 리스트.csv', header=0)
# data.head(1)

,Unnamed: 0,book_name,publisher,author,publication_date,pages,isbn,description,link
0,1,주니어를 위한 최선의 코딩 학습 똑똑한 파이썬,코딩스쿨(인포앤북),황재호/황예린,2019-07-01,240,9.790000e+12,"주니어의 코딩 학습을 위한 최상의 파이썬 학습서\n초등학교에서 스크래치, 엔트리 등...",http://codingschool.info/book/index.php?book=s...

In [8]:
import os
data['img_path']='temp'
for i in range(1,len(data)+1):
    file = os.path.isfile(f"./static/image/{i}.png")
    if file:
        data["img_path"][i-1] = f"/image/{i}.png"
    else:
        data["img_path"][i-1] = f"/image/{i}.jpg"

<ipython-input-8-f550d12c0f89>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["img_path"][i-1] = f"/image/{i}.png"
<ipython-input-8-f550d12c0f89>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["img_path"][i-1] = f"/image/{i}.jpg"

In [2]:
import pymysql
con = pymysql.connect(host='localhost', user='root', password='root', db='library')
cur = con.cursor()

ModuleNotFoundError: No module named 'pymysql'

In [12]:
for index, row in data.iterrows():
    data1 = (row['Unnamed: 0'], row['book_name'], row['publisher'], row['author'], row['publication_date'], row['pages'], row['isbn'], row['description'], row['link'], 5, 0, row['img_path'])
    # print(data1)
    cur.execute("INSERT INTO Book_info VALUES (?,?,?,?,?,?,?,?,?,?,?,?)",data1)

In [13]:
con.commit()
con.close()